@forward 'variables';
@forward 'global';
@forward 'util';
@forward 'sections';

body
{
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    gap: var(--spacing-1000);

    overflow-x: hidden;
}

.hidden
{
    display: none;
    visibility: hidden;
    position: absolute;
}