@forward 'variables';
@forward 'global';
@forward 'util';
@forward 'sections';
@use 'util/components' as c;
@use 'util/breakpoints' as b;

body
{
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    gap: var(--spacing-1000);

    overflow-x: hidden;
}

body.lock-scroll
{
    overflow-y: hidden;
}

.desktop__nav
{
    @include c.hidden;
} 

@include b.breakpoint('large')
{
    .hero__button
    {
        @include c.hidden;
    }

    .desktop__nav
    {
        display: flex;
        visibility: visible;
        position: relative;
    }
}

.hidden
{
    @include c.hidden;
}