@use '../util/text' as t;
@use '../util/breakpoints' as b;
@use '../util/components' as c;

.footer
{
    width: 100%;

    padding: var(--spacing-600) var(--spacing-400);

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background-color: black;
    color: gray;

    gap: var(--spacing-400);

    .footer__logo
    {
        @include c.logo;
    }

    .footer__links
    {
        @include t.paragraph;

        display: flex;
        flex-direction: column;
        
        align-items: center;
        justify-content: center;
        
        gap: var(--spacing-100);
        a
        {
            color: white;
            text-align: center;

            &:hover
            {
                cursor: pointer;
            }
        }
    }

    .footer__social
    {
        display: flex;
        align-items: center;
        justify-content: center;

        gap:var(--spacing-200);

        .footer__icon
        {
            &:hover
            {
                cursor: pointer;
            }    
        }
    }

    .footer__copyright
    {
        @include t.paragraph;
    }


    @include b.breakpoint('medium')
    {
        padding: var(--spacing-600) var(--spacing-800);
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);

        place-items: start;
        .footer__logo
        {
            order: 0;
        }

        .footer__social
        {
            place-self: end;
            order: 1;
        }

        .footer__links
        {
            order: 2;
            flex-direction: row;
        }

        .footer__copyright
        {
            place-self: end;
            order: 3;
        }
    }
}