@use '../util/text' as t;
@use '../util/breakpoints' as b;

.main__grid
{
    display: grid;

    place-items: center;

    width: 100%;
    
    gap: var(--spacing-200);
    
    @include b.breakpoint('medium')
    {
        gap: var(--spacing-400);
    }
    
    .grid__header
    {
        @include t.small-header;
        text-align: center;
        margin-bottom: var(--spacing-400);

        @include b.breakpoint('medium')
        {
            margin: 0;
        }
    }

    .grid__figure
    {
        position: relative;
        
        width: 90%;
        height: min-content;
        
        picture
        {
            z-index: 0;
            display: block;
            width: 100%;
            height: 100%;
            
            img
            {
                display: block;
                width: 100%;
                height: auto;
                
                
                object-fit: cover;
            }
        }
        
        &::before
        {
            content: '';
            z-index: 1;
            
            position: absolute;
            top: 0;
            left: 0;
            
            width: 100%;
            height: 100%;
            
            opacity: 100%;
            background: linear-gradient(90deg, black, transparent 60%);
        }
        
        figcaption
        {   
            position: absolute;
            
            z-index: 2;
            
            left: var(--spacing-300);
            bottom: var(--spacing-300);
            
            color: var(--white);
            
            @include t.small-header;
            
            width: 10ch;
        }
        
        @include b.breakpoint('medium')
        {
            width: 40rem;
            
            picture img
            {
                object-position: 0 0;
                aspect-ratio: 42/9;
            }
            
            figcaption
            {
                @include t.small-header;
                font-size: 1.5rem;
            }
        }
        
    }
    
    .grid__button
    {
        border: 1px solid black;
        background-color: transparent;
        @include t.spacing-paragraph;
        text-transform: uppercase;
        padding: var(--spacing-200) var(--spacing-600);
        
        transition: background-color 0.2s;
        
        &:hover
        {
            background-color: black;
            color: white;
            cursor: pointer;
        }
    }
    
        @include b.breakpoint('large')
        {
            width: fit-content;
    
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: fit-content 2fr 2fr;
    
            .grid__header
            {
                grid-row: 1/2;
                grid-column: 1/4;
                place-self: start;
            }
    
            .grid__button
            {
                place-self: end;
                grid-row: 1/2;
                grid-column: 4/5;
            }

            .grid__figure
            {
                width: clamp(15rem, 8rem + 10vw, 30rem);
                height: clamp(30rem, 18rem + 10vw, 60rem);
                
                picture
                {
                    width: 100%;
                    height: 100%;
                    img
                    {
                        width: 100%;
                        height: 100%;
                    }
                }

                &::before
                {
                    opacity: 100%;
                }

                transition: scale 0.1s;
            }
            
            .grid__figure:hover
            {
                scale: 1.1;

                &::before
                {
                    background: white;
                    opacity: 50%;
                }
            }
        }
}