@use '../util/text' as t;
@use '../util/breakpoints' as b;
@use '../util/components' as c;

.header__hero
{
    position: relative;

    width: 100vw;
    height: min-content;

    @include b.breakpoint('medium')
    {
        margin-bottom: var(--spacing-600);
    }
}


.hero__background
{
    width: 100%;
    height: min-content;
    
    filter: brightness(50%);
    img
    {
        width: 100%;
        height: 80vh;
        object-fit: cover;
    }
}

.hero__content
{
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;    
    
    gap: var(--spacing-1000);

    @include b.breakpoint('medium')
    {
        padding: 0 var(--spacing-400);
    }

    .hero__top
    {
        flex: 0 1 auto;

        width: 100%;

        display: flex;
        
        align-items: center;
        justify-content: space-between;

        padding: var(--spacing-600) var(--spacing-400);

        .hero__logo
        {
            @include c.logo;
        }

        .hero__button
        {
            width: 32px;
            height: 32px;

            border: 0;

            background: url(../../images/icon-hamburger.svg) no-repeat center;
        }
    }

    .hero__text
    {
        width: min-content;

        padding: var(--spacing-200);

        border: 1px solid var(--white);
        color: var(--white);
        @include t.header;
        @include b.breakpoint(medium)
        {
            margin-top: var(--spacing-1000);
            font-size: 5rem;
            width: 13ch;
        }
    }
}
