@use '../util/text' as t;
@use '../util/breakpoints' as b;

.main__info
{
    width: 100%;
    height: min-content;

    padding: var(--spacing-200) var(--spacing-200);

    margin-bottom: var(--spacing-400);

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: var(--spacing-600);

    @include b.breakpoint('medium')
    {
        margin-bottom: var(--spacing-1000);
    }
    
    .info__image
    {
        width: 100%;
        height: min-content;
        
        img
        {
            
            width: 100%;
            height: auto;
            object-fit: cover;
            
            filter:contrast(110%) saturate(140%) brightness(80%);

        }    
        @include b.breakpoint('medium')
        {
            width: 85%;
            img
            {
                object-position: 0 0;
                height: 20rem;
            }
        }
    }

    .info__text
    {
        padding: 0 var(--spacing-400);

        display: flex;
        flex-direction: column;

        gap: var(--spacing-200);

        .info__header
        {
            color: var(--black);
            text-align: center;
            @include t.header;
        }

        .info__paragraph
        {
            color: grey;
            text-align: center;
            @include t.paragraph;
        }
    }
}
