@use '../util/text' as t;
@use '../util/breakpoints' as b;

.main__info
{
    position: relative;
    width: 100%;
    height: min-content;

    padding: var(--spacing-200) var(--spacing-200);

    margin-bottom: var(--spacing-400);

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: var(--spacing-600);

    @include b.breakpoint('medium')
    {
        margin-bottom: var(--spacing-1000);
        width: 80%;
    }

    @include b.breakpoint('large')
    {
        width: fit-content;
        
        flex-direction: row;
        justify-content: start;
        align-self: start;

        margin-left: 10vw;
        margin-top: var(--spacing-1000);
    }

    @include b.breakpoint('xlarge')
    {
        justify-content: center;
        align-self: center;
        margin-left: 0;
    }
    
    .info__image
    {
        width: 100%;
        height: min-content;
        
        img
        {
            
            width: 100%;
            height: auto;
            object-fit: cover;
            
            filter:contrast(110%) saturate(140%) brightness(80%);

        }    
        @include b.breakpoint('medium')
        {
            width: 85%;
            img
            {
                object-position: 0 0;
                height: 20rem;
            }
        }

        @include b.breakpoint('large')
        {
            width: 50vw;

            img
            {
                height: auto;
            }
        }
    }

    .info__text
    {
        padding: 0 var(--spacing-400);

        display: flex;
        flex-direction: column;

        gap: var(--spacing-200);

        .info__header
        {
            color: var(--black);
            text-align: center;
            @include t.header;
        }

        .info__paragraph
        {
            color: grey;
            text-align: center;
            @include t.paragraph;
        }

        @include b.breakpoint('large')
        {
            position: absolute;
            background-color: white;
            width: 88ch;
            height: min-content;
            padding: calc(var(--spacing-1000));

            right: -70%;
            bottom: -20%;
            .info__header, .info__paragraph
            {
                text-align: left;
            }
        }

        @include b.breakpoint('xlarge')
        {
            right: -10%;
            bottom: 0%;
        }
    }
}
