@use '../util/text' as t;
@use '../util/components' as c;

.header__nav
{
    z-index: 2;

    position: absolute;

    width: 100%;
    height: 100vh;

    padding: 8% 10%;

    display: flex;
    flex-direction: column;
    
    align-items: start;
    justify-content: start;

    gap: calc(var(--spacing-1000) * 2);

    background-color: black;

    .nav__top
    {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav__logo
        {
            @include c.logo;
        }

        .nav__button
        {
            width: 32px;
            height: 32px;
            background: url(../../images/icon-close.svg) no-repeat center;
            border: 0;
        }

    }

    .nav__buttons
    {
        display: flex;
        flex-direction: column;

        .nav__link
        {
            color: white;
            @include t.small-header;
        }

        gap: var(--spacing-400);
    }
}