:root
{
    --white: hsl(0 100% 100%);
    --black: hsl(0 0% 0%);

    --grey: hsl(0 0% 85%);

    --darker-blue: hsl(215 30% 92%);
    --lighter-blue: hsl(213 100% 98%);

    --gradient: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 60%);
}