:root
{
    --spacing-100: .5rem;
    --spacing-200: 1rem;
    --spacing-300:  1.5rem;
    --spacing-400: 2rem;
    --spacing-500: 2.5rem;
    --spacing-600: 3rem;
    --spacing-800: 4rem;
    --spacing-1000: 5rem;
}