@font-face {
    font-family: 'JosefinSansLight';
    src: 
    url('../../fonts/Josefin_Sans/JosefinSans-Light.woff2') format('woff2'),
    url('../../fonts/Josefin_Sans/JosefinSans-Light.ttf') format('truetype');
}

@font-face
{
    font-family: 'AlataRegular';
    src:
    url('../../fonts/Alata/Alata-Regular.woff2') format('woff2'),
    url('../../fonts/Alata/Alata-Regular.ttf') format('truetype');
}

